blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

cite {
  display: block;
  margin-top: 10px;
}

#diy {
  float: right;
  width: 20%;
}

#diy ul {
  float: right;
  width: 5%;
}

#external-links ul {
 float: left;
 width: 5%;
}

body {
  max-width: 960px;
}

main {
  float: right;
  width: 75%;
}



/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like,
but it's optional! */
img {
  width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}

@media screen and (max-width: 500px) {
  body {
    min-width: 200px;
  }
}

@media screen and (max-width: 500px) {
   #one {
    float: none;
    margin: 0px;
    width:auto;
    border:0;
  }
}