p {
  border: 3px dotted;
  border-color: pink;
  background-color: purple;
  text-align: center;
  color: pink;
  font-size: 40px;
  font-family: Helvetica;
  text-shadow: red 10px 2px;
  padding: 10px;
}

table {
  background-color: blue;
  border: dotted;
  border-color: green;
  color: red;
  border-width: 10px;
  text-align: center;
}